{% extends 'layout.html' %}
{% block title %}
<h1>Agregar Carrera</h1>
{% endblock  %}

{% block content %}
    <form action="{% url 'save_carrera' %}" method="POST">
        {% csrf_token %}
        <label for="nombre">Nombre </label>
        <input type="text" name="nombre" />

        <label for="nombre_corto">Nombre Corto </label>
        <input type="text" name="nombre_corto" >

        <label for="Estado">Estado </label>
        <input name="estado" >
        
        <input type="submit" value="Agregar" />
    </form>
{% endblock  %}